@font-face {
    font-family: 'Graphik';
    src: url('/Users/ola/jenga-x/src/fonts/Graphik-Bold.ttf');
}

@font-face {
    font-family: 'Graphik';
    src: url('/Users/ola/jenga-x/src/fonts/Graphik-Medium.ttf');
}

@font-face {
    font-family: 'Graphik';
    src: url('/Users/ola/jenga-x/src/fonts/Graphik-Regular.ttf');
}

@font-face {
    font-family: 'Graphik';
    src: url('/Users/ola/jenga-x/src/fonts/Graphik-Semibold.ttf');
}