@font-face {
    font-family: 'Graphik';
    src: url('/Users/ola/jenga-x/src/fonts/Graphik-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Graphik';
    src: url('/Users/ola/jenga-x/src/fonts/Graphik-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Graphik';
    src: url('/Users/ola/jenga-x/src/fonts/Graphik-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Graphik';
    src: url('/Users/ola/jenga-x/src/fonts/Graphik-Semibold.ttf');
    font-weight: 600;
}